body {
    background-color: #4aa1a9;
    background-image: url('./Man2.png');
    margin: 0;
    background-repeat: no-repeat;
    font-family: "Courier New";
    color: #b66d0f;
    padding: 0;
}
footer {
    color: #84b4c8;
    text-align: center;
    font-family: "Courier New";
    width: 100%;    
    padding-bottom: 0;
    bottom: 0;
    position: relative;
}

p {
    font-family: "Sans-serif";
    margin-left: 10px;
    font-size: 35px;
    color: rgb(255, 255, 255);
}

/* index start here */
.header {
    font-size: 40px;
    text-align: center;
}
/* index ends here */
/*horizontal nav starts here*/
.nav {
    position: relative;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding-top: 0;
    background-color: #ff8a50;
}

    .nav a {
        /* background-color: #ff8a50; */
        display: block;
        color: #000000;
        text-decoration: none;
        font-size: 20px;
        padding: 15px 20px;
    }

    .nav li {
        float: left;
    }

    .nav a:hover {
        background-color: #dfc7c1;
    }

.active_nav {
    background-color: #ffffff;
}
/*nav ends here*/

span {
    font-style: italic;
}

table {
    font-size: 15px;
    color: black;
}
.page_heading {
    font-size: 70px;
    text-align: left;
}

.content_heading {
    font-size: 40px;
}

.img {
    display: block;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 500px;
    object-fit: scale-down;
}

.content {
    padding: 10px;
}

.footer {
    color: #84b4c8;
    text-align: center;
    font-family: "Courier New";
    width: 100%;
    bottom: 0;
}

.logo{
    float: right;
    width: 100px;
    height: 100px;
} 
h1 {
    text-align: center;
    font-family: sans-serif;
}
.li{
    font-family: sans-serif;
}